<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
   <welcome-file-list>
    <welcome-file>servlet/HomePage</welcome-file>
  </welcome-file-list>
  
 <!-- 这里加了后数据库会读取不了,不加呢在Ueditor又说找不到类，也就是struts。xml用不了。。。--> 
 <!-- <filter>
   <filter-name>struts2</filter-name>
  	<filter-class>
  		org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
 	</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>struts2</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>  -->

  
  <servlet>
    <servlet-name>show_all_blogs</servlet-name>
    <servlet-class>com.component.blog.show_all_blogs</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jump_from_show_all_blogs</servlet-name>
    <servlet-class>com.component.blog.BlogDetailedContent</servlet-class>
  </servlet>
  <servlet>
   <servlet-name>CommitBlog</servlet-name>
    <servlet-class>com.component.blog.CommitBlog</servlet-class>
  </servlet>
<!--   <servlet>
    <servlet-name>publisher</servlet-name>
    <servlet-class>publish.publisher</servlet-class>
  </servlet> -->
  <servlet>
    <servlet-name>DeleteBlog</servlet-name>
    <servlet-class>com.component.blog.DeleteBlog</servlet-class>
  </servlet>
  <servlet>
   <servlet-name>FetchContentBeforeUpdate</servlet-name>
    <servlet-class>com.component.blog.FetchContentBeforeUpdate</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>SaveContentAfterUpdate</servlet-name>
    <servlet-class>com.component.blog.SaveContentAfterUpdate</servlet-class>
  </servlet> 
  <!-- 下面是分页的servlet -->
    <servlet>
    <servlet-name>ListUser</servlet-name>
    <servlet-class>page_flip.ListUser</servlet-class>
  </servlet>
  <servlet>
   <servlet-name>HomePage</servlet-name>
    <servlet-class>com.component.blog.HomePage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CommentLogic</servlet-name>
    <servlet-class>com.component.blog.CommentLogic</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CopyRightFilter</servlet-name>
    <servlet-class>useless.CopyRightFilter</servlet-class>
  </servlet>


									<!-- 下面是servlet的mapping -->
									
  <servlet-mapping>
    <servlet-name>show_all_blogs</servlet-name>
    <url-pattern>/servlet/show_all_blogs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jump_from_show_all_blogs</servlet-name>
    <url-pattern>/servlet/BlogDetailedContent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommitBlog</servlet-name>
    <url-pattern>/servlet/CommitBlog</url-pattern>
  </servlet-mapping>
<!--   <servlet-mapping>
    <servlet-name>publisher</servlet-name>
    <url-pattern>/servlet/publisher</url-pattern>
  </servlet-mapping> -->
  <servlet-mapping>
    <servlet-name>DeleteBlog</servlet-name>
    <url-pattern>/servlet/DeleteBlog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FetchContentBeforeUpdate</servlet-name>
    <url-pattern>/servlet/FetchContentBeforeUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveContentAfterUpdate</servlet-name>
    <url-pattern>/servlet/SaveContentAfterUpdatete</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ListUser</servlet-name>
    <url-pattern>/servlet/ListUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomePage</servlet-name>
    <url-pattern>/servlet/HomePage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommentLogic</servlet-name>
    <url-pattern>/servlet/CommentLogic</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CopyRightFilter</servlet-name>
    <url-pattern>/servlet/CopyRightFilter</url-pattern>
  </servlet-mapping>
 
   
   <session-config>
    <session-timeout>200</session-timeout>
  </session-config>
 
</web-app>
